In [36]:
import pandas as pd
import numpy as np

In [37]:
data=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
len(data)

9704

In [38]:
#Preparing the dataset
cols = ['engine_displacement',
        'horsepower',
        'vehicle_weight',
        'model_year',
        'fuel_efficiency_mpg']

#Subset the data to the only required columns
df = data[cols]
df.head()

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
0,170,159.0,3413.433759,2003,13.231729
1,130,97.0,3149.664934,2007,13.688217
2,170,78.0,3079.038997,2018,14.246341
3,220,NaN,2542.392402,2009,16.912736
4,210,140.0,3460.870990,2009,12.488369

# Q1. There's one column with missing values. What is it?

In [40]:
df.isnull().sum()

engine_displacement      0
horsepower             708
vehicle_weight           0
model_year               0
fuel_efficiency_mpg      0
dtype: int64

# Q2. What's the median (50% percentile) for variable 'horsepower'?

```````````````````

49
99
149
199
Prepare and split the dataset
Shuffle the dataset (the filtered one you created above), use seed 42.
Split your data in train/val/test sets, with 60%/20%/20% distribution.
Use the same code as in the lectures

```````````````````````

In [41]:
df['horsepower'].median()

np.float64(149.0)

In [ ]:
n=len(df)

n_val=int(n*0.2)
n_test=int(n*0.2)
n_train=n-(n_val+n_test)

n_val,n_test,n_train,n_val+n_test+n_train

(1940, 1940, 5824, 9704)

In [ ]:
df_val=Mydata.iloc[:n_val]
df_test=Mydata.iloc[n_val:n_val+n_test]
df_train=Mydata.iloc[n_val+n_test:]
df_train

,engine_displacement,horsepower,vehicle_weight,model_year,fuel_efficiency_mpg
3880,180,119.0,3582.745396,2012,11.345737
3881,240,152.0,2892.395450,2019,15.994232
3882,290,152.0,3515.849661,2003,12.600823
3883,170,121.0,2931.819348,2012,14.816853
3884,210,147.0,2614.520645,2008,16.126712
...,...,...,...,...,...
9699,140,164.0,2981.107371,2013,15.101802
9700,180,154.0,2439.525729,2004,17.962326
9701,220,138.0,2583.471318,2008,17.186587
9702,230,177.0,2905.527390,2011,15.331551
9703,270,140.0,2908.043477,2005,14.884467

In [ ]:
idx=np.arange(n)
np.random.seed(42)
np.random.shuffle(idx)
idx

array([ 483, 7506, 8795, ..., 5390,  860, 7270], shape=(9704,))

In [ ]:
df_train=Mydata.iloc[idx[:n_train]]
df_val=Mydata.iloc[idx[n_train:n_train+n_val]]
df_test=Mydata.iloc[idx[n_train+n_val:]]
len(df_train)

5824

In [ ]:
y_train=np.log1p(df_train.fuel_efficiency_mpg.values)
y_val=np.log1p(df_val.fuel_efficiency_mpg.values)
y_test=np.log1p(df_test.fuel_efficiency_mpg.values)
#len(df_train)

# Q3. 
````````````````
We need to deal with missing values for the column from Q1.
We have two options: fill it with 0 or with the mean of this variable.
Try both options. For each, train a linear regression model without regularization using the code from the lessons.
For computing the mean, use the training only!
Use the validation dataset to evaluate the models and compare the RMSE of each option.
Round the RMSE scores to 2 decimal digits using round(score, 2)
Which option gives better RMSE?
Options:

With 0
With mean
Both are equally good

````````````````````````

In [ ]:


def prepare_X(df):
    df = df.copy()
    df['age'] = 2023 - df.model_year
    df = df.drop(["model_year"], axis=1)  # must reassign here
    X = df.fillna(0).values
    return X

In [ ]:
#Train a linear regression model
def train_linear_regression(X, y):
    ones = np.ones(X.shape[0])
    X = np.column_stack([ones, X])

    XTX = X.T.dot(X)
    XTX_inv = np.linalg.inv(XTX)
    w = XTX_inv.dot(X.T).dot(y)
    
    return w[0], w[1:]

In [ ]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [ ]:
#Create copies of the split datasets
df_train_1 = df_train.copy()
df_val_1 = df_val.copy()


y_train_orig = df_train_1.fuel_efficiency_mpg.values
y_val_orig = df_val_1.fuel_efficiency_mpg.values



del df_train_1 ['fuel_efficiency_mpg']
del df_val_1['fuel_efficiency_mpg']

#df_train_1['age'] = 2023 - df_train_1.model_year
#X_train = df_train_1.fillna(0)
#X_train = X_train.drop(['model_year'], axis=1)
X_train = prepare_X(df_train_1)


w_0, w = train_linear_regression(X_train, y_train_orig)
y_pred = w_0 + X_train.dot(w)
print('train_rmse', round(rmse(y_train_orig, y_pred),2))


#df_val_1['age'] = 2023 - df_val_1.model_year
#X_val = df_val_1.fillna(0)
#X_val = X_val.drop(['model_year'], axis=1)
X_val = prepare_X(df_val_1)
y_pred = w_0 + X_val.dot(w)
print('validation_rmse', round(rmse(y_val_orig, y_pred),2))

train_rmse 0.52
validation_rmse 0.52

In [ ]:
#Create copies of the split datasets
df_train_2 = df_train.copy()
df_val_2 = df_val.copy()


y_train_orig = df_train_2.fuel_efficiency_mpg.values
y_val_orig = df_val_2.fuel_efficiency_mpg.values


del df_train_2 ['fuel_efficiency_mpg']
del df_val_2['fuel_efficiency_mpg']

df_train_2['age'] = 2023 - df_train_2.model_year
X_train = df_train_2.fillna(df_train_2['horsepower'].mean())
X_train = X_train.drop(['model_year'], axis=1)



w_0, w = train_linear_regression(X_train.values, y_train_orig)
y_pred = w_0 + X_train.dot(w)
print('train_rmse', round(rmse(y_train_orig, y_pred), 2))


df_val_2['age'] = 2023 - df_val_2.model_year
X_val = df_val_2.fillna(df_train_2['horsepower'].mean())
X_val = X_val.drop(['model_year'], axis=1).values

y_pred = w_0 + X_val.dot(w)
print('validation_rmse', round(rmse(y_val_orig, y_pred),2))

train_rmse 0.46
validation_rmse 0.46

# Question 4

`````````````````
Now let's train a regularized linear regression.
For this question, fill the NAs with 0.
Try different values of r from this list: [0, 0.01, 0.1, 1, 5, 10, 100].
Use RMSE to evaluate the model on the validation dataset.
Round the RMSE scores to 2 decimal digits.
Which r gives the best RMSE?
If multiple options give the same best RMSE, select the smallest r.

Options:

0
0.01
1
10
100
```````````````````````

In [ ]:
def train_linear_regression_reg(X,y,r):
    ones=np.ones(X.shape[0])
    X=np.column_stack([ones,X])
    
    XTX=X.T.dot(X)
    XTX= XTX+r * np.eye(XTX.shape[0])
    XTX_inv=np.linalg.inv(XTX)
    w_full=XTX_inv.dot(X.T).dot(y)

    return w_full[0],w_full[1:]

In [ ]:
for r in  [0, 0.01, 0.1, 1, 5, 10, 100]:
 X_val= prepare_X(df_val)
 w0,w=train_linear_regression_reg(X_val,y_val,r=r)

 X_val=prepare_X(df_val)
 y_pred = w0 + X_val.dot(w)

 score= rmse(y_val,y_pred) 
 print(r , w0 , round(score))

0 1.8140296824348843 0
0.01 1.7835433390901256 0
0.1 1.5492987211510088 0
1 0.6711785475105135 0
5 0.19331553575477992 0
10 0.1039341967322848 0
100 0.014609192455964719 0

# Question 5
```````````````````````````
We used seed 42 for splitting the data. Let's find out how selecting the seed influences our score.
Try different seed values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9].
For each seed, do the train/validation/test split with 60%/20%/20% distribution.
Fill the missing values with 0 and train a model without regularization.
For each seed, evaluate the model on the validation dataset and collect the RMSE scores.
What's the standard deviation of all the scores? To compute the standard deviation, use np.std.
Round the result to 3 decimal digits (round(std, 3))
What's the value of std?

0.001
0.006
0.060
0.600
Note: Standard deviation shows how different the values are. If it's low, then all values are approximately the same. If it's high, the values are different. If standard deviation of scores is low, then our model is stable.

````````````````````````````````````

In [ ]:
idx=np.arange(n)
df_train = {}
df_val = {}
df_test = {}
for s in  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
 np.random.seed(s)
 np.random.shuffle(idx)
 df_train[s]=Mydata.iloc[idx[:n_train]]
 df_val[s]=Mydata.iloc[idx[n_train:n_train+n_val]]
 df_test[s]=Mydata.iloc[idx[n_train+n_val:]]

print(df_train[3].isnull().sum())

engine_displacement      0
horsepower             429
vehicle_weight           0
model_year               0
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
base=['engine_displacement','horsepower','vehicle_weight','model_year']
X_val={}
for s in  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
  X_val[s]=df_val[s][base].fillna(0).values

In [ ]:
def train_linear_regression(X,y):
    ones=np.ones(X.shape[0])
    X=np.column_stack([ones,X])
    
    XTX=X.T.dot(X)
    XTX_inv=np.linalg.inv(XTX)
    w_full=XTX_inv.dot(X.T).dot(y)

    return w_full[0],w_full[1:]

In [ ]:
w0={}
w={}
y_pred={}
scores={}
def rmse(y,y_pred):
    se=(y-y_pred)**2
    mse=se.mean()
    return np.sqrt(mse)
for s in  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
 w0[s],w[s]=train_linear_regression(X_val[s],y_val)
 y_pred[s]=w0[s] + X_val[s].dot(w[s])
 scores[s]=rmse(y_val,y_pred[s])
#  print(w0[s],w[s]
print(scores)
score_values = np.array(list(scores.values()))
score_values

{0: np.float64(0.17167002860985825), 1: np.float64(0.17169413429906552), 2: np.float64(0.171710789936451), 3: np.float64(0.17177814527048346), 4: np.float64(0.17175751326167113), 5: np.float64(0.1717463463068836), 6: np.float64(0.1715271977647743), 7: np.float64(0.17150080716195343), 8: np.float64(0.17152781154752328), 9: np.float64(0.17172327834406723)}

array([0.17167003, 0.17169413, 0.17171079, 0.17177815, 0.17175751,
       0.17174635, 0.1715272 , 0.17150081, 0.17152781, 0.17172328])

In [ ]:
std = np.std(score_values)
std = round(std,4)
std

np.float64(0.0001)

# Question 6

```
Split the dataset like previously, use seed 9.
Combine train and validation datasets.
Fill the missing values with 0 and train a model with r=0.001.
What's the RMSE on the test dataset?
Options:

0.15
0.515
5.15
51.5

`````````````````````

In [ ]:
def train_linear_regression_reg(X,y,r):
    ones=np.ones(X.shape[0])
    X=np.column_stack([ones,X])
    
    XTX=X.T.dot(X)
    XTX= XTX+r * np.eye(XTX.shape[0])
    XTX_inv=np.linalg.inv(XTX)
    w_full=XTX_inv.dot(X.T).dot(y)

    return w_full[0],w_full[1:]

In [ ]:
def prepare_X(df):
    df = df.copy()
    df['age'] = 2023 - df.model_year
    df = df.drop(["model_year"], axis=1)  # must reassign here
    X = df.fillna(0).values
    return X

In [ ]:
def rmse(y, y_pred):
    error = y_pred - y
    mse = (error ** 2).mean()
    return np.sqrt(mse)

In [ ]:
np.random.seed(9)

# split
n = len(df)
n_val = int(0.2 * n)
n_test = int(0.2 * n)
n_train = n - (n_val + n_test)

idx = np.arange(n)
np.random.shuffle(idx)

df_shuffled = df.iloc[idx]

df_train = df_shuffled.iloc[:n_train].copy()
df_val   = df_shuffled.iloc[n_train:n_train+n_val].copy()
df_test  = df_shuffled.iloc[n_train+n_val:].copy()

# combine train + val
df_full_train = pd.concat([df_train, df_val]).reset_index(drop=True)

# targets
y_full_train = df_full_train.fuel_efficiency_mpg.values
y_test = df_test.fuel_efficiency_mpg.values

# features
df_full_train = df_full_train.drop(columns=['fuel_efficiency_mpg'])
df_test_X = df_test.drop(columns=['fuel_efficiency_mpg'])

X_full_train = prepare_X(df_full_train)
X_test = prepare_X(df_test_X)

# train with r=0.001
w_0, w = train_linear_regression_reg(X_full_train, y_full_train, r=0.001)

# predict on test
y_pred = w_0 + X_test.dot(w)

# evaluate
test_rmse = rmse(y_test, y_pred)
print("Test RMSE:", round(test_rmse, 3))

Test RMSE: 0.516