In [32]:
import pandas as pd
import numpy as np

In [33]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

# Q1. Pandas version

In [34]:
pd.__version__

'2.3.1'

# Q2. Records count

```
How many records are in the dataset?

````

In [35]:
len(df)

9704

# Q3. Fuel types

`````How many fuel types are presented in the dataset? `````

In [36]:
df.fuel_type.nunique()

2

# Q4. Missing values

`````How many columns in the dataset have missing values?`````

In [37]:
((df.isnull().sum())>0).sum()

np.int64(4)

# Q5. Max fuel efficiency

`````What's the maximum fuel efficiency of cars from Asia?`````

In [38]:

df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2)

np.float64(23.76)

# Q6. Median value of horsepower

In [39]:
median=df['horsepower'].mean()
most_frequent = df['horsepower'].mode()[0]
print(median, most_frequent)
df['horsepower'] = df['horsepower'].fillna(most_frequent)
median=df['horsepower'].mean()
print(median, most_frequent)

149.65729212983547 152.0
149.82821516900248 152.0

# Q7. Sum of weights

In [40]:
X = df[df['origin']=='Asia'][['vehicle_weight','model_year']].head(7)
X_array = X.to_numpy()
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv.dot(X.T).dot(y)
sum = w.sum()
sum.round(3)

np.float64(0.519)